@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes moveUpDown {
  to {
    transform: translateY(-10px);
  }
}

@keyframes slideImg {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
