@charset "UTF-8";
@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "NeoDunggeunmoPro-Regular"; */
  font-family: "Dovemayo_gothic";
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
input:focus {
  outline: 0;
  border: 0;
}

button {
  background: inherit;
  cursor: pointer;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes moveUpDown {
  to {
    transform: translateY(-10px);
  }
}
@keyframes slideImg {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
body {
  background: #cbf1f5;
  word-break: keep-all;
}
body.hidden {
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6px;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 20;
}
.scrollbar .bar {
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.emphasize {
  position: relative;
}
.emphasize:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: #b1b2ff;
  mix-blend-mode: multiply;
  filter: blur(1px);
  transform: skewX(-15deg);
}

.title {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 2em;
}

.modalClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  font-size: 2em;
  background: transparent;
}

.link {
  display: inline-flex;
  gap: 0 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background: #000;
}
.link .arrow {
  color: transparent;
  position: relative;
  overflow: hidden;
}
.link .arrow:before, .link .arrow:after {
  content: "→";
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}
.link .arrow:after {
  transform: translateX(-100%);
}
.link:hover .arrow:before {
  transform: translateX(100%);
  transition: 0.3s ease;
}
.link:hover .arrow:after {
  transform: translateX(0);
  transition: 0.3s ease;
}

section {
  min-height: 100vh;
  border-bottom: 1px solid #000;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
}
section.home {
  display: flex;
  align-items: flex-end;
  position: relative;
}
section.home .introduction {
  position: absolute;
  top: 20px;
  left: 40px;
}
section.home .introduction h2 {
  font-size: calc(1em + 3vw);
}
section.home .introduction p {
  font-size: calc(0.6em + 0.8vw);
  color: rgba(0, 0, 0, 0.7);
}
section.home .decoWrap {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: calc(2.5em + 5vw);
  color: #71c9ce;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: translateY(-50%) scale(-1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
section.home .decoWrap .deco:nth-child(1) {
  text-shadow: 0 0 3px #000;
  transform: translateX(-100%);
  opacity: 1;
  animation: fadeOut 2s ease-in-out infinite alternate-reverse;
}
section.home .decoWrap .deco:nth-child(2) {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}
section.home .descWrap {
  display: flex;
  align-items: center;
  width: 90%;
}
section.home .descWrap img {
  width: 30%;
  mix-blend-mode: multiply;
}
section.home .descWrap .desc {
  font-size: 1.65em;
}
section.home .descWrap .desc em {
  display: block;
  margin-left: 10px;
  padding-left: 20px;
  position: relative;
}
section.home .descWrap .desc em:before {
  content: "#";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
section.home .descWrap .desc h1 {
  padding: 5px 0;
}
section.home .contentWrap em {
  display: block;
  letter-spacing: 2.5px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}
section.home .contentWrap em br {
  display: none;
}
section.home .contentWrap h1 {
  margin-top: 10px;
  font-size: calc(0.8em + 10vw);
  position: relative;
}
section.home .contentWrap h1 span {
  animation: moveUpDown 0.9s infinite alternate-reverse;
}
section.about {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 40px 0;
  padding-top: 80px;
}
section.about .person {
  display: flex;
  width: 100%;
  gap: 0 20px;
}
section.about .person .photo {
  display: block;
  width: 30%;
  min-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.about .person .detailWrap {
  display: grid;
  grid-template-areas: "profile feature" "skill contact";
  gap: 10px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #fff;
}
section.about .person .detailWrap table.profile {
  grid-area: profile;
}
section.about .person .detailWrap table.skills {
  grid-area: skill;
}
section.about .person .detailWrap table.feature {
  grid-area: feature;
}
section.about .person .detailWrap table.contact {
  grid-area: contact;
}
section.about .person .detailWrap table th {
  display: inline-block;
  text-align: left;
  font-size: 1.4em;
  margin-bottom: 10px;
}
section.about .person .detailWrap table td {
  font-size: 1.2em;
}
section.about .person .detailWrap table td.bold {
  font-weight: 600;
}
section.about .person .detailWrap table td.icon {
  display: none;
}
section.about .person .detailWrap table td.icon img {
  width: 100%;
}
section.about .desc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}
section.about .desc h1 {
  font-size: 2.5em;
  padding: 5px 0;
}
section.about .desc em {
  display: block;
  position: relative;
  margin-left: 10px;
  padding-left: 20px;
  font-size: 1.5em;
  line-height: 1.8;
}
section.about .desc em:before {
  content: "#";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
section.about .desc em span.emphasize {
  white-space: nowrap;
}
section.about .desc em span:not(.emphasize) {
  display: none;
}
section.projects {
  height: 350vh;
  padding: 0;
  overflow: visible;
}
section.projects .modalProject {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
section.projects .modalProject.active {
  display: block;
}
section.projects .modalProject .modalWrap {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
section.projects .modalProject .modalWrap .modal {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 90%;
  background: #fff;
  padding: 20px;
  transform: translate(-50%, -50%);
}
section.projects .modalProject .modalWrap .modal h2 {
  font-size: calc(1em + 2vw);
}
section.projects .modalProject .modalWrap .modal span {
  font-size: calc(0.6em + 1vw);
}
section.projects .modalProject .modalWrap .modal .imgWrap {
  height: 100%;
  overflow-y: scroll;
}
section.projects .modalProject .modalWrap .modal .imgWrap::-webkit-scrollbar {
  width: 4px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
section.projects .modalProject .modalWrap .modal .imgWrap::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #000;
}
section.projects .modalProject .modalWrap .modal .imgWrap img {
  display: block;
  width: 100%;
}
section.projects .stickyWrap {
  position: sticky;
  top: 0;
  left: 0;
  max-height: 100vh;
  overflow: hidden;
}
section.projects .stickyWrap .projectWrap {
  display: flex;
}
section.projects .stickyWrap .projectWrap .project {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  height: 100vh;
  text-align: center;
  padding: 0 10px;
  overflow: hidden;
}
section.projects .stickyWrap .projectWrap .project .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 70vh;
  padding: 20px;
  border-radius: 15px;
  background: #fff;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.6s ease;
}
section.projects .stickyWrap .projectWrap .project .container > * {
  opacity: 0;
}
section.projects .stickyWrap .projectWrap .project .container .imgWrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
section.projects .stickyWrap .projectWrap .project .container .imgWrap img {
  display: block;
  width: 100%;
  transform: scale(0.5);
  filter: drop-shadow(0 0 3px #000);
}
section.projects .stickyWrap .projectWrap .project .container .imgWrap img.invert {
  filter: invert(1);
}
section.projects .stickyWrap .projectWrap .project .container .descWrap h2 {
  margin-bottom: 10px;
}
section.projects .stickyWrap .projectWrap .project .container .btnMore {
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px 0;
  background: #b1b2ff;
  border-radius: 10px;
}
section.projects .stickyWrap .projectWrap .project.top .container {
  transform: translateY(100%);
}
section.projects .stickyWrap .projectWrap .project.bottom .container {
  transform: translateY(-100%);
}
section.projects .stickyWrap .projectWrap .project.active .container {
  opacity: 1;
  transform: translateY(0);
}
section.projects .stickyWrap .projectWrap .project.active .container > * {
  opacity: 1;
  transition: 0.4s 0.4s ease;
}
section.projects .stickyWrap .projectWrap .project.project1 {
  flex-direction: column;
  min-width: 100%;
}
section.projects .stickyWrap .projectWrap .project.project1 > * {
  opacity: 0;
  transform: translateX(100px);
  transition: 0.5s ease;
}
section.projects .stickyWrap .projectWrap .project.project1.active > * {
  opacity: 1;
  transform: translateX(0);
}
section.projects .stickyWrap .projectWrap .project.project1 h2 {
  font-size: calc(2em + 3vw);
  padding-bottom: 60px;
  position: relative;
}
section.projects .stickyWrap .projectWrap .project.project1 h2:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 30px;
  height: 15px;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  background: #000;
  transform: translateX(-50%);
}
section.projects .stickyWrap .projectWrap .project.project1 span {
  font-size: 1.3em;
}
section.projects .stickyWrap .projectWrap .project.end {
  min-width: 100%;
}
section.react {
  min-height: auto;
  padding-top: 80px;
}
section.react .modalReact {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
section.react .modalReact.active {
  display: block;
}
section.react .modalReact.active.t .content.todo {
  display: block;
}
section.react .modalReact.active.m .content.movie {
  display: block;
}
section.react .modalReact .modalWrap {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
section.react .modalReact .modalWrap .modal {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  max-height: 80%;
  padding: 10px;
  background: #fff;
  transform: translate(-50%, -50%);
}
section.react .modalReact .modalWrap .modal .btnPrev,
section.react .modalReact .modalWrap .modal .btnNext {
  position: absolute;
  top: 50%;
  width: calc(25px + 2vw);
  aspect-ratio: 1;
  filter: invert(1);
  transform: rotate(-90deg);
  background: url(../images/ico_arrow.png) no-repeat center/cover;
  z-index: 11;
}
section.react .modalReact .modalWrap .modal .btnPrev.disable,
section.react .modalReact .modalWrap .modal .btnNext.disable {
  opacity: 0.5;
  pointer-events: none;
}
section.react .modalReact .modalWrap .modal .btnNext {
  right: 10px;
  transform: rotate(90deg);
}
section.react .modalReact .modalWrap .modal .content {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
section.react .modalReact .modalWrap .modal .content .slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}
section.react .modalReact .modalWrap .modal .content .slider li {
  min-width: 100%;
}
section.react .modalReact .modalWrap .modal .content .slider li img {
  width: 100%;
}
section.react .slideWrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 10px;
}
section.react .slideWrap .slide {
  flex: 1;
  background: #fff;
  box-shadow: 2px 2px 5px #000;
}
section.react .slideWrap .slide a {
  display: block;
  padding: 10px;
}
section.react .slideWrap .slide a .imgWrap {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}
section.react .slideWrap .slide a .imgWrap img {
  display: block;
  flex: 1;
  width: 100%;
}
section.react .slideWrap .slide a .descWrap span {
  font-size: calc(0.4em + 0.8vw);
  color: rgba(0, 0, 0, 0.7);
  margin-right: 5px;
}
section.react .slideWrap .slide a .descWrap h2 {
  font-size: calc(1em + 1vw);
  margin: 5px 0 10px;
  position: relative;
}
section.react .slideWrap .slide a .descWrap h2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
}
section.react .slideWrap .slide a .descWrap p {
  font-size: calc(0.5em + 1vw);
}

@media screen and (max-width: 768px) {
  .title {
    left: 20px;
    font-size: 1.6em;
  }
  section {
    padding: 20px;
  }
  section.home .introduction {
    left: 20px;
  }
  section.about {
    padding-top: 60px;
  }
  section.about .person {
    flex-direction: column;
    gap: 10px 0;
  }
  section.about .person .photo {
    min-width: 250px;
  }
  section.about .person .detailWrap {
    grid-template-areas: "profile" "skill" "feature" "contact";
  }
  section.about .person .detailWrap table.skills tr:not(:nth-child(1)) {
    display: inline-block;
    margin-right: 10px;
  }
  section.about .person .detailWrap table.skills tr td.icon {
    display: block;
    width: 40px;
    height: 40px;
  }
  section.about .person .detailWrap table.skills tr td:not(.icon) {
    display: none;
  }
  section.about .person .detailWrap table td {
    font-size: 1.1em;
  }
  section.about .person .detailWrap table td.bold {
    width: 80px;
  }
  section.about .desc {
    justify-content: flex-start;
  }
  section.about .desc h1 {
    display: none;
  }
  section.about .desc em {
    margin-left: 0;
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 1.2em;
    line-height: 1.5;
  }
  section.about .desc em:before {
    content: "";
    background: url(../images/icons-1151_512.gif) no-repeat center/cover;
    mix-blend-mode: multiply;
  }
  section.about .desc em span:not(.emphasize) {
    display: inline-block;
  }
  section.projects .modalProject .modal {
    width: 90%;
    height: 70%;
  }
  section.projects .stickyWrap {
    position: sticky;
    top: 0;
    left: 0;
    max-height: 100vh;
    overflow: hidden;
  }
  section.projects .stickyWrap .projectWrap .project {
    min-width: 100%;
    padding: 0 30px;
    overflow: hidden;
  }
  section.projects .stickyWrap .projectWrap .project .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 70vh;
    padding: 20px;
    border-radius: 15px;
    background: #fff;
    opacity: 0;
    transition: 0.6s ease;
  }
  section.projects .stickyWrap .projectWrap .project .container > * {
    opacity: 0;
  }
  section.projects .stickyWrap .projectWrap .project .container .imgWrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  section.projects .stickyWrap .projectWrap .project .container .imgWrap img {
    display: block;
    width: 100%;
    transform: scale(0.5);
    filter: drop-shadow(0 0 3px #000);
  }
  section.projects .stickyWrap .projectWrap .project .container .imgWrap img.invert {
    filter: invert(1);
  }
  section.projects .stickyWrap .projectWrap .project .container .descWrap h2 {
    margin-bottom: 10px;
  }
  section.projects .stickyWrap .projectWrap .project .container .btnMore {
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 0;
    background: #b1b2ff;
    border-radius: 10px;
  }
  section.projects .stickyWrap .projectWrap .project.top .container {
    transform: translateY(100%);
  }
  section.projects .stickyWrap .projectWrap .project.bottom .container {
    transform: translateY(-100%);
  }
  section.projects .stickyWrap .projectWrap .project.active .container {
    opacity: 1;
    transform: translateY(0);
  }
  section.projects .stickyWrap .projectWrap .project.active .container > * {
    opacity: 1;
    transition: 0.4s 0.4s ease;
  }
  section.projects .stickyWrap .projectWrap .project.project1 {
    flex-direction: column;
    min-width: 100%;
  }
  section.projects .stickyWrap .projectWrap .project.project1 > * {
    opacity: 0;
    transform: translateX(100px);
    transition: 0.5s ease;
  }
  section.projects .stickyWrap .projectWrap .project.project1.active > * {
    opacity: 1;
    transform: translateX(0);
  }
  section.projects .stickyWrap .projectWrap .project.project1 h2 {
    font-size: calc(2em + 3vw);
    padding-bottom: 60px;
    position: relative;
  }
  section.projects .stickyWrap .projectWrap .project.project1 h2:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 15px;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
            clip-path: polygon(0 0, 100% 0, 50% 100%);
    background: #000;
    transform: translateX(-50%);
  }
  section.projects .stickyWrap .projectWrap .project.project1 span {
    font-size: 1.3em;
  }
  section.react {
    padding-top: 60px;
  }
}
@media screen and (max-width: 480px) {
  section.home {
    justify-content: center;
    align-items: center;
  }
  section.home .contentWrap em {
    text-align: center;
  }
  section.home .contentWrap em br {
    display: inline-block;
  }
  section.home .contentWrap h1 {
    margin-top: 30px;
  }
  section.home .decoWrap {
    writing-mode: unset;
    top: auto;
    right: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  section.home .decoWrap .deco:nth-child(1) {
    transform: translateY(100%);
  }
  section.about .person {
    flex-direction: column;
    gap: 10px 0;
  }
  section.about .person .photo {
    width: 50%;
    min-width: 200px;
  }
  section.about .person .detailWrap table.skills tr:not(:nth-child(1)) {
    margin-right: 5px;
  }
  section.about .person .detailWrap table.skills tr td.icon {
    width: 30px;
    height: 30px;
  }
  section.about .person .detailWrap table td {
    font-size: 0.85em;
  }
  section.about .desc h1 {
    display: none;
  }
  section.about .desc em {
    padding-left: 20px;
    font-size: 0.85em;
  }
  section.about .desc em:before {
    width: 20px;
    height: 20px;
  }
  section.react .slideWrap {
    grid-template-columns: 1fr;
    gap: 10px 0;
  }
  section.react .slideWrap .slide {
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */