@import "./reset";
@import "./animations";

$emphasize: #b1b2ff;

body {
  background: #cbf1f5;
  word-break: keep-all;
  &.hidden {
    overflow: hidden;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6px;
  background: rgba(#000, 0.4);
  overflow: hidden;
  z-index: 20;
  .bar {
    width: 0;
    height: 100%;
    background: rgba(#000, 0.7);
  }
}

.emphasize {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background: $emphasize;
    mix-blend-mode: multiply;
    filter: blur(1px);
    transform: skewX(-15deg);
  }
}

.title {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 2em;
}

.modalClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  font-size: 2em;
  background: transparent;
}

.link {
  display: inline-flex;
  gap: 0 10px;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background: #000;
  .arrow {
    color: transparent;
    position: relative;
    overflow: hidden;
    &:before,
    &:after {
      content: "→";
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
    }
    &:after {
      transform: translateX(-100%);
    }
  }
  &:hover {
    .arrow {
      &:before {
        transform: translateX(100%);
        transition: 0.3s ease;
      }
      &:after {
        transform: translateX(0);
        transition: 0.3s ease;
      }
    }
  }
}

section {
  border-bottom: 1px solid rgba(#000, 0.3);
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  &:not(.home, .projects) {
    padding-top: 80px;
    & > * {
      opacity: 0;
      transform: translateX(-100px);
      transition: 0.5s ease;
    }
    &.view {
      & > * {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  &.home {
    display: flex;
    align-items: flex-end;
    min-height: 100vh;
    position: relative;
    .introduction {
      position: absolute;
      top: 20px;
      left: 40px;
      h2 {
        font-size: calc(1em + 3vw);
      }
      p {
        font-size: calc(0.6em + 0.8vw);
        color: rgba(#000, 0.7);
      }
    }
    .decoWrap {
      position: absolute;
      top: 50%;
      right: 0;
      font-size: calc(2.5em + 5vw);
      color: #71c9ce;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: translateY(-50%) scale(-1);
      user-select: none;
      .deco {
        &:nth-child(1) {
          text-shadow: 0 0 3px #000;
          transform: translateX(-100%);
          opacity: 1;
          animation: fadeOut 2s ease-in-out infinite alternate-reverse;
        }
        &:nth-child(2) {
          color: transparent;
          -webkit-text-stroke: 1px #000;
        }
      }
    }
    .descWrap {
      display: flex;
      align-items: center;
      width: 90%;
      img {
        width: 30%;
        mix-blend-mode: multiply;
      }
      .desc {
        font-size: 1.65em;
        em {
          display: block;
          margin-left: 10px;
          padding-left: 20px;
          position: relative;
          &:before {
            content: "#";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
          }
        }
        h1 {
          padding: 5px 0;
        }
      }
    }
    .contentWrap {
      em {
        display: block;
        letter-spacing: 2.5px;
        color: rgba(#000, 0.8);
        font-weight: 600;
        br {
          display: none;
        }
      }
      h1 {
        margin-top: 10px;
        font-size: calc(0.8em + 10vw);
        position: relative;
        span {
          animation: moveUpDown 0.9s infinite alternate-reverse;
        }
      }
    }
  }
  &.about {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 25px 0;
    .person {
      .detailWrap {
        display: grid;
        grid-template-areas:
          "profile feature"
          "skill contact";
        gap: 10px;
        width: 100%;
        padding: 10px;
        box-shadow: 0 0 10px rgba(#000, 0.3);
        background: #fff;
        table {
          &.profile {
            grid-area: profile;
          }
          &.skills {
            grid-area: skill;
          }
          &.feature {
            grid-area: feature;
          }
          &.contact {
            grid-area: contact;
          }
          th {
            display: inline-block;
            text-align: left;
            font-size: 1.4em;
            margin-bottom: 10px;
          }
          td {
            font-size: 1.2em;
            &.bold {
              font-weight: 600;
            }
            &.icon {
              display: none;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .desc {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 20px;
      h1 {
        font-size: 2.5em;
        padding: 5px 0;
      }
      em {
        display: block;
        position: relative;
        margin-left: 10px;
        padding-left: 20px;
        font-size: 1.5em;
        line-height: 1.8;
        &:before {
          content: "#";
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 30px;
        }
        span {
          &.emphasize {
            white-space: nowrap;
          }
          &:not(.emphasize) {
            display: none;
          }
        }
      }
    }
  }
  &.projects {
    height: 350vh;
    padding: 0;
    overflow: visible;
    .modalProject {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      &.active {
        display: block;
      }
      .modalWrap {
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.5);
        .modal {
          display: flex;
          flex-direction: column;
          gap: 10px 0;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 80%;
          height: 90%;
          background: #fff;
          padding: 20px;
          transform: translate(-50%, -50%);
          h2 {
            font-size: calc(1em + 2vw);
          }
          span {
            font-size: calc(0.6em + 1vw);
          }
          .imgWrap {
            height: 100%;
            overflow-y: scroll;
            &::-webkit-scrollbar {
              width: 4px;
              background: rgba(#000, 0.3);
              border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 4px;
              background: #000;
            }
            img {
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
    .stickyWrap {
      position: sticky;
      top: 0;
      left: 0;
      max-height: 100vh;
      overflow: hidden;
      .projectWrap {
        display: flex;
        .project {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 50%;
          height: 100vh;
          text-align: center;
          padding: 0 10px;
          overflow: hidden;
          .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 70vh;
            padding: 20px;
            border-radius: 15px;
            background: #fff;
            box-shadow: -2px -2px 5px rgba(#000, 0.5);
            opacity: 0;
            transition: 0.6s ease;
            & > * {
              opacity: 0;
            }
            .imgWrap {
              display: flex;
              align-items: center;
              width: 100%;
              height: 30vh;
              overflow: hidden;
              border-radius: 10px;
              box-shadow: 0 0 3px rgba(#000, 0.2);
              img {
                display: block;
                width: 100%;
                transform: scale(0.5);
                filter: drop-shadow(0 0 3px #000);
                &.invert {
                  filter: invert(1);
                }
              }
            }
            .descWrap {
              h2 {
                margin-bottom: 10px;
              }
            }
            .btnMore {
              color: #fff;
              font-weight: 600;
              margin-top: 10px;
              padding: 10px 0;
              background: $emphasize;
              border-radius: 10px;
            }
          }
          &.top {
            .container {
              transform: translateY(100%);
            }
          }
          &.bottom {
            .container {
              transform: translateY(-100%);
            }
          }
          &.active {
            .container {
              opacity: 1;
              transform: translateY(0);
              & > * {
                opacity: 1;
                transition: 0.4s 0.4s ease;
              }
            }
          }
          &.project1 {
            flex-direction: column;
            min-width: 100%;
            & > * {
              opacity: 0;
              transform: translateX(100px);
              transition: 0.5s ease;
            }
            &.active > * {
              opacity: 1;
              transform: translateX(0);
            }
            h2 {
              font-size: calc(2em + 3vw);
              padding-bottom: 60px;
              position: relative;
              &:before {
                content: "";
                position: absolute;
                bottom: 30px;
                left: 50%;
                width: 30px;
                height: 15px;
                clip-path: polygon(0 0, 100% 0, 50% 100%);
                background: #000;
                transform: translateX(-50%);
              }
            }
            span {
              font-size: 1.3em;
            }
          }
          &.end {
            flex-direction: column;
            gap: 30px 0;
            min-width: 100%;
            text-align: center;
            & > * {
              opacity: 0;
              transform: translateY(100px);
              transition: 0.5s ease;
            }
            &.active {
              & > * {
                opacity: 1;
                transform: translateY(0);
              }
            }
            a {
              font-size: 1.5em;
              color: #71c9ce;
              -webkit-text-stroke: 1px #000;
              position: relative;
              &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: #71c9ce;
                border: 1px solid #000;
                border-radius: 5px;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.5s ease;
              }
              &:hover:before {
                transform: scaleX(100%);
                transform-origin: left;
              }
            }
          }
        }
      }
    }
  }
  &.react {
    .modalReact {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      &.active {
        display: block;
        &.t {
          .content.todo {
            display: block;
          }
        }
        &.m {
          .content.movie {
            display: block;
          }
        }
      }
      .modalWrap {
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.5);
        .modal {
          display: flex;
          flex-direction: column;
          gap: 10px 0;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 80%;
          height: fit-content;
          max-height: 70%;
          padding: 10px;
          background: #fff;
          transform: translate(-50%, -50%);
          overflow: hidden;
          .btnPrev,
          .btnNext {
            position: absolute;
            top: 50%;
            left: 15px;
            width: calc(25px + 2vw);
            aspect-ratio: 1;
            border-radius: 50%;
            transform: rotate(-90deg);
            background: $emphasize url(../images/ico_arrow.png) no-repeat center /
              cover;
            z-index: 11;
            &.disable {
              opacity: 0.5;
              pointer-events: none;
            }
          }
          .btnNext {
            left: auto;
            right: 19px;
            transform: rotate(90deg);
          }
          .content {
            display: none;
            width: 100%;
            height: 60vh;
            overflow: hidden;
            .slider {
              display: flex;
              width: 100%;
              height: 100%;
              transition: 0.3s ease;
              li {
                min-width: 100%;
                overflow-y: scroll;
                img {
                  width: 100%;
                }
                &::-webkit-scrollbar {
                  width: 4px;
                  border-radius: 4px;
                  background: rgba($emphasize, 0.5);
                }
                &::-webkit-scrollbar-thumb {
                  border-radius: 4px;
                  background: $emphasize;
                }
              }
            }
          }
        }
      }
    }
    .slideWrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 10px;
      .slide {
        flex: 1;
        background: #fff;
        box-shadow: 2px 2px 5px #000;
        a {
          display: block;
          padding: 10px;
          .imgWrap {
            display: flex;
            width: 100%;
            aspect-ratio: 16 / 9;
            margin-bottom: 10px;
            overflow: hidden;
            img {
              display: block;
              flex: 1;
              width: 100%;
              height: max-content;
            }
          }
          .descWrap {
            span {
              font-size: calc(0.4em + 0.8vw);
              color: rgba(#000, 0.7);
              margin-right: 5px;
            }
            h2 {
              font-size: calc(1em + 1vw);
              margin: 5px 0 10px;
              position: relative;
              &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: #000;
              }
            }
            p {
              font-size: calc(0.5em + 1vw);
            }
          }
        }
      }
    }
    .sub {
      text-align: center;
      padding: 15px 0;
    }
  }
  &.contact {
    em {
      display: block;
      font-size: 1.25em;
      margin-bottom: 20px;
    }
    .addressWrap {
      width: fit-content;
      font-size: 1.3em;
      padding: 20px;
      border-radius: 20px;
      color: rgba(#000, 0.8);
      background: rgba(#fff, 0.8);
      box-shadow: 2px 2px 5px #000;
      .address {
        display: flex;
        gap: 0 20px;
        margin-top: 10px;
        .photo {
          width: 30%;
          min-width: 200px;
          img {
            display: block;
            width: 100%;
            border-radius: 20px;
          }
        }
        .detail {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px 0;
        }
        span {
          display: inline-block;
          color: #000;
          min-width: 80px;
        }
        .github {
          color: #71c9ce;
        }
      }
    }
  }
}

footer {
  height: 100px;
  overflow: hidden;
  .scrollText {
    padding: 10px;
    position: relative;
    .text {
      position: absolute;
      top: 0;
      left: 100%;
      font-size: 5em;
      letter-spacing: 5px;
      white-space: nowrap;
      color: #71c9ce;
      -webkit-text-stroke: 1px #000;
      animation: slideText 15s linear infinite;
      &:nth-child(2) {
        animation-delay: 7.5s;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .title {
    left: 20px;
    font-size: 1.6em;
  }

  section {
    padding: 20px;
    &:not(.home, .projects) {
      padding-top: 60px;
    }
    &.home {
      .introduction {
        left: 20px;
      }
    }
    &.about {
      .person {
        .detailWrap {
          grid-template-areas:
            "profile"
            "skill"
            "feature"
            "contact";
          table {
            &.skills {
              tr {
                &:not(:nth-child(1)) {
                  display: inline-block;
                  margin-right: 10px;
                }
                td {
                  &.icon {
                    display: block;
                    width: 40px;
                    height: 40px;
                  }
                  &:not(.icon) {
                    display: none;
                  }
                }
              }
            }
            td {
              font-size: 1.1em;
              &.bold {
                width: 80px;
              }
            }
          }
        }
      }
      .desc {
        justify-content: flex-start;
        h1 {
          display: none;
        }
        p {
          background: #cbf1f5;
          em {
            margin-left: 0;
            margin-bottom: 10px;
            padding-left: 30px;
            font-size: 1.2em;
            line-height: 1.5;
            &:before {
              content: "";
              background: url(../images/icons-1151_512.gif) no-repeat center /
                cover;
              mix-blend-mode: multiply;
            }
            span:not(.emphasize) {
              display: inline-block;
            }
          }
        }
      }
    }
    &.projects {
      .modalProject {
        .modal {
          width: 90%;
          height: 70%;
        }
      }
      .stickyWrap {
        position: sticky;
        top: 0;
        left: 0;
        max-height: 100vh;
        overflow: hidden;
        .projectWrap {
          .project {
            min-width: 100%;
            padding: 0 30px;
            overflow: hidden;
            .container {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: 100%;
              height: 70vh;
              padding: 20px;
              border-radius: 15px;
              background: #fff;
              opacity: 0;
              transition: 0.6s ease;
              & > * {
                opacity: 0;
              }
              .imgWrap {
                display: flex;
                align-items: center;
                width: 100%;
                height: 30vh;
                overflow: hidden;
                border-radius: 10px;
                box-shadow: 0 0 3px rgba(#000, 0.2);
                img {
                  display: block;
                  width: 100%;
                  transform: scale(0.5);
                  filter: drop-shadow(0 0 3px #000);
                  &.invert {
                    filter: invert(1);
                  }
                }
              }
              .descWrap {
                h2 {
                  margin-bottom: 10px;
                }
              }
              .btnMore {
                color: #fff;
                font-weight: 600;
                margin-top: 10px;
                padding: 10px 0;
                background: $emphasize;
                border-radius: 10px;
              }
            }
            &.top {
              .container {
                transform: translateY(100%);
              }
            }
            &.bottom {
              .container {
                transform: translateY(-100%);
              }
            }
            &.active {
              .container {
                opacity: 1;
                transform: translateY(0);
                & > * {
                  opacity: 1;
                  transition: 0.4s 0.4s ease;
                }
              }
            }
            &.project1 {
              flex-direction: column;
              min-width: 100%;
              & > * {
                opacity: 0;
                transform: translateX(100px);
                transition: 0.5s ease;
              }
              &.active > * {
                opacity: 1;
                transform: translateX(0);
              }
              h2 {
                font-size: calc(2em + 3vw);
                padding-bottom: 60px;
                position: relative;
                &:before {
                  content: "";
                  position: absolute;
                  bottom: 30px;
                  left: 50%;
                  width: 30px;
                  height: 15px;
                  clip-path: polygon(0 0, 100% 0, 50% 100%);
                  background: #000;
                  transform: translateX(-50%);
                }
              }
              span {
                font-size: 1.3em;
              }
            }
          }
        }
      }
    }
    &.react {
      .modalReact {
        .modalWrap {
          .modal {
            .content {
              &.todo {
                height: fit-content;
                li {
                  &::-webkit-scrollbar {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.contact {
      em {
        font-size: 1em;
      }
      .addressWrap {
        font-size: 0.9em;
        .address {
          gap: 0 20px;
          .photo {
            width: 30%;
            min-width: 150px;
          }
          span {
            min-width: 60px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  section {
    &.home {
      justify-content: center;
      align-items: center;
      .contentWrap {
        em {
          text-align: center;
          br {
            display: inline-block;
          }
        }
        h1 {
          margin-top: 30px;
        }
      }
      .decoWrap {
        writing-mode: unset;
        top: auto;
        right: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        .deco {
          &:nth-child(1) {
            transform: translateY(100%);
          }
        }
      }
    }
    &.about {
      .person {
        .detailWrap {
          table {
            &.skills {
              tr {
                &:not(:nth-child(1)) {
                  margin-right: 5px;
                }
                td {
                  &.icon {
                    width: 30px;
                    height: 30px;
                  }
                }
              }
            }
            td {
              font-size: 0.85em;
            }
          }
        }
      }
      .desc {
        h1 {
          display: none;
        }
        em {
          padding-left: 20px;
          font-size: 0.85em;
          &:before {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    &.react {
      .slideWrap {
        grid-template-columns: 1fr;
        gap: 10px 0;
        .slide {
          padding: 20px;
        }
      }
    }
    &.contact {
      .addressWrap {
        .address {
          flex-direction: column;
          gap: 20px 0;
          .photo {
            width: 50%;
          }
        }
      }
    }
  }
}
